@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Velkommen";
}
<div class="text-center mt-5">
    <h1>Velkommen til VareShop!</h1>
    <p>Klik på <strong>Varer</strong> i menuen for at se vores produkter.</p>
</div>
